:root {
    --base: #2A9D8F;
    --spacing: 10px;
    --blur: 10px;
  }

  img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    width: 40%;
  }

  body {
    text-align: center;
    background: #264653;
    color: white;
    font-family: "helvetica neue", sans-serif;
    font-weight: 100;
    font-size: 50px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }

  .hl{
    color: #E9C46A;
  }

  h2, label {
    color: var(--base);
  }